downloads/

__pycache__/
.Rproj.user
exports/wgbs_k562_cpg.bed.gz
exports/merged_final.csv
exports/wgbs_k562_cpg.bed.gz
exports/wgbs_k562_cpg.bed.gz
exports/merged_final.csv
.positai
data/
exports/
.DS_Store
.Rhistory
.RData
.Rhistory
download_encode.py
